<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> CREATE | FunkoShop</title>
  <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
    <!-- Header START -->
    <%- include('../partials/header.ejs')%>

  <main class="container">
    <h2 class="create_title">CREAR NUEVO ITEM</h2>
    <form action="/admin/create" method="POST" enctype="multipart/form-data">
      <div class="create_category-licence">
        <label class="create_label" for="category">Categoria: </label>
        <select class="create_select" name="category" id="category" required>
          <option value="#" disabled selected>Seleccionar</option>
          <option value="1">Figuras</option>
          <option value="2">Llaveros</option>
          <option value="3">Remeras</option>
        </select>
        <label class="create_label" for="licence">Licencia: </label>
        <select class="create_select" name="licence" id="licence" required>
          <option value="#" disabled selected>Seleccionar</option>
          <option value="2">Star Wars</option>
          <option value="3">Harry Potter</option>
          <option value="1">Pokemon</option>
        </select>
        <br>
      </div>
      <div>
        <label class="create_product-info" for="product">Nombre del producto:</label>
        <input class="create_product-text" id="product" type="text" placeholder="Kakashi Hatake Shipudden Saga">
      </div>
      <textarea class="create_textarea" cols="120" rows="8" name="description" id="description"
       placeholder="Descripción del producto"></textarea>
      <br>
      <div>
        <label class="create_product-info" for="sku">SKU:</label>
        <input class="create_product-text create1" id="sku" type="text" placeholder="SSK111AB001">
        <label class="create_product-info" for="price">Precio:</label>
        <input class="create_product-text create1" id="price" type="number" placeholder="$ 0000,00">
        <label class="create_product-info" for="stock" type="number">Stock:</label>
        <input class="create_product-text create2" id="stock" type="number" placeholder="0">
        <br>
        <label class="create_product-info" for="discount">Descuento:</label>
        <input class="create_product-text create2" id="discount" type="number" placeholder="0%">
        <label class="create_product-info" for="dues">Cuotas:</label>
        <select class="create_select" name="dues" id="dues" required>
          <option value="6cuotas" selected>6 cuotas sin interés</option>
          <option value="3cuotas">3 cuotas sin interés</option>
          <option value="1cuota">1 cuota sin interés</option>

        </select>
      </div>
      <br>
      <div>
        <label class="create_product-info" for="images">Imágenes:</label>
        <input type="file" name="images" id="images" placeholder="No se ha seleccionado ningún archivo" multiple>
      </div>
      <br>
      <div class="create_buttons">
        <button class="create_button btn-modify" type="submit">Agregar producto</button>
        <button class="create_button btn-clear" type="reset">Limpiar</button>
      </div>
    </form>
    </section>
  </main>

  <br><br><br>
  <%- include('../partials/footer.ejs')%>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>